In [193]:
import xgboost as xgb
import pandas as pd
from scipy.stats import uniform, randint
from sklearn.model_selection import cross_val_score,RandomizedSearchCV, KFold, train_test_split
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error

In [163]:
# read data 
df = pd.read_csv("bank/bank-full.csv", sep=";")
pd.set_option('display.max_rows',100)

In [164]:
data.head(100)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
30,57,technician,married,secondary,no,839,no,yes,unknown,5,may,225,1,-1,0,unknown,no
31,49,management,married,tertiary,no,378,yes,no,unknown,5,may,230,1,-1,0,unknown,no
32,60,admin.,married,secondary,no,39,yes,yes,unknown,5,may,208,1,-1,0,unknown,no
33,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
34,51,management,married,tertiary,no,10635,yes,no,unknown,5,may,336,1,-1,0,unknown,no
35,57,technician,divorced,secondary,no,63,yes,no,unknown,5,may,242,1,-1,0,unknown,no
36,25,blue-collar,married,secondary,no,-7,yes,no,unknown,5,may,365,1,-1,0,unknown,no
37,53,technician,married,secondary,no,-3,no,no,unknown,5,may,1666,1,-1,0,unknown,no
38,36,admin.,divorced,secondary,no,506,yes,no,unknown,5,may,577,1,-1,0,unknown,no
39,37,admin.,single,secondary,no,0,yes,no,unknown,5,may,137,1,-1,0,unknown,no
40,44,services,divorced,secondary,no,2586,yes,no,unknown,5,may,160,1,-1,0,unknown,no
41,50,management,married,secondary,no,49,yes,no,unknown,5,may,180,2,-1,0,unknown,no
42,60,blue-collar,married,unknown,no,104,yes,no,unknown,5,may,22,1,-1,0,unknown,no
43,54,retired,married,secondary,no,529,yes,no,unknown,5,may,1492,1,-1,0,unknown,no
44,58,retired,married,unknown,no,96,yes,no,unknown,5,may,616,1,-1,0,unknown,no
45,36,admin.,single,primary,no,-171,yes,no,unknown,5,may,242,1,-1,0,unknown,no
46,58,self-employed,married,tertiary,no,-364,yes,no,unknown,5,may,355,1,-1,0,unknown,no
47,44,technician,married,secondary,no,0,yes,no,unknown,5,may,225,2,-1,0,unknown,no
48,55,technician,divorced,secondary,no,0,no,no,unknown,5,may,160,1,-1,0,unknown,no
49,29,management,single,tertiary,no,0,yes,no,unknown,5,may,363,1,-1,0,unknown,no
50,54,blue-collar,married,secondary,no,1291,yes,no,unknown,5,may,266,1,-1,0,unknown,no
51,48,management,divorced,tertiary,no,-244,yes,no,unknown,5,may,253,1,-1,0,unknown,no
52,32,management,married,tertiary,no,0,yes,no,unknown,5,may,179,1,-1,0,unknown,no
53,42,admin.,single,secondary,no,-76,yes,no,unknown,5,may,787,1,-1,0,unknown,no
54,24,technician,single,secondary,no,-103,yes,yes,unknown,5,may,145,1,-1,0,unknown,no
55,38,entrepreneur,single,tertiary,no,243,no,yes,unknown,5,may,174,1,-1,0,unknown,no
56,38,management,single,tertiary,no,424,yes,no,unknown,5,may,104,1,-1,0,unknown,no
57,47,blue-collar,married,unknown,no,306,yes,no,unknown,5,may,13,1,-1,0,unknown,no
58,40,blue-collar,single,unknown,no,24,yes,no,unknown,5,may,185,1,-1,0,unknown,no
59,46,services,married,primary,no,179,yes,no,unknown,5,may,1778,1,-1,0,unknown,no
60,32,admin.,married,tertiary,no,0,yes,no,unknown,5,may,138,1,-1,0,unknown,no
61,53,technician,divorced,secondary,no,989,yes,no,unknown,5,may,812,1,-1,0,unknown,no
62,57,blue-collar,married,primary,no,249,yes,no,unknown,5,may,164,1,-1,0,unknown,no
63,33,services,married,secondary,no,790,yes,no,unknown,5,may,391,1,-1,0,unknown,no
64,49,blue-collar,married,unknown,no,154,yes,no,unknown,5,may,357,1,-1,0,unknown,no
65,51,management,married,tertiary,no,6530,yes,no,unknown,5,may,91,1,-1,0,unknown,no
66,60,retired,married,tertiary,no,100,no,no,unknown,5,may,528,1,-1,0,unknown,no
67,59,management,divorced,tertiary,no,59,yes,no,unknown,5,may,273,1,-1,0,unknown,no
68,55,technician,married,secondary,no,1205,yes,no,unknown,5,may,158,2,-1,0,unknown,no
69,35,blue-collar,single,secondary,no,12223,yes,yes,unknown,5,may,177,1,-1,0,unknown,no
70,57,blue-collar,married,secondary,no,5935,yes,yes,unknown,5,may,258,1,-1,0,unknown,no
71,31,services,married,secondary,no,25,yes,yes,unknown,5,may,172,1,-1,0,unknown,no
72,54,management,married,secondary,no,282,yes,yes,unknown,5,may,154,1,-1,0,unknown,no
73,55,blue-collar,married,primary,no,23,yes,no,unknown,5,may,291,1,-1,0,unknown,no
74,43,technician,married,secondary,no,1937,yes,no,unknown,5,may,181,1,-1,0,unknown,no
75,53,technician,married,secondary,no,384,yes,no,unknown,5,may,176,1,-1,0,unknown,no
76,44,blue-collar,married,secondary,no,582,no,yes,unknown,5,may,211,1,-1,0,unknown,no
77,55,services,divorced,secondary,no,91,no,no,unknown,5,may,349,1,-1,0,unknown,no
78,49,services,divorced,secondary,no,0,yes,yes,unknown,5,may,272,1,-1,0,unknown,no
79,55,services,divorced,secondary,yes,1,yes,no,unknown,5,may,208,1,-1,0,unknown,no
80,45,admin.,single,secondary,no,206,yes,no,unknown,5,may,193,1,-1,0,unknown,no
81,47,services,divorced,secondary,no,164,no,no,unknown,5,may,212,1,-1,0,unknown,no
82,42,technician,single,secondary,no,690,yes,no,unknown,5,may,20,1,-1,0,unknown,no
83,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
84,46,self-employed,married,tertiary,no,137,yes,yes,unknown,5,may,246,1,-1,0,unknown,no
85,51,blue-collar,married,primary,no,173,yes,no,unknown,5,may,529,2,-1,0,unknown,no
86,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
87,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
88,46,management,divorced,secondary,no,16,yes,yes,unknown,5,may,188,2,-1,0,unknown,no
89,57,retired,married,secondary,no,486,yes,no,unknown,5,may,180,2,-1,0,unknown,no
90,42,management,single,secondary,no,50,no,no,unknown,5,may,48,1,-1,0,unknown,no
91,30,technician,married,secondary,no,152,yes,yes,unknown,5,may,213,2,-1,0,unknown,no
92,60,admin.,married,secondary,no,290,yes,no,unknown,5,may,583,1,-1,0,unknown,no
93,60,blue-collar,married,unknown,no,54,yes,no,unknown,5,may,221,1,-1,0,unknown,no
94,57,entrepreneur,divorced,secondary,no,-37,no,no,unknown,5,may,173,1,-1,0,unknown,no
95,36,management,married,tertiary,no,101,yes,yes,unknown,5,may,426,1,-1,0,unknown,no
96,55,blue-collar,married,secondary,no,383,no,no,unknown,5,may,287,1,-1,0,unknown,no
97,60,retired,married,tertiary,no,81,yes,no,unknown,5,may,101,1,-1,0,unknown,no
98,39,technician,married,secondary,no,0,yes,no,unknown,5,may,203,1,-1,0,unknown,no
99,46,management,married,tertiary,no,229,yes,no,unknown,5,may,197,1,-1,0,unknown,no

In [165]:
# xgboost cannot handel categorical values. Turn class to Boolean 0 or 1
df['y'] = df['y'].map({'no': 0, 'yes': 1})

In [167]:
# split data
X = df.loc[:, df.columns != 'y']
y = df.loc[:, df.columns == 'y']

In [168]:
# xgboost does cannot handel categorical values so must use preprocessing steps to turn catagorical values to numeric. 
lbl = preprocessing.LabelEncoder()
X['job'] = lbl.fit_transform(X['job'].astype(str))
X['marital'] = lbl.fit_transform(X['marital'].astype(str))
X['education'] = lbl.fit_transform(X['education'].astype(str))
X['default'] = lbl.fit_transform(X['default'].astype(str))
X['housing'] = lbl.fit_transform(X['housing'].astype(str))
X['contact'] = lbl.fit_transform(X['contact'].astype(str))
X['loan'] = lbl.fit_transform(X['loan'].astype(str))
X['month'] = lbl.fit_transform(X['month'].astype(str))
X['poutcome'] = lbl.fit_transform(X['poutcome'].astype(str))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [177]:
# do split fpr train and test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=42)

xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42)

# hyper parameter search 
params = {
    "colsample_bytree": uniform(0.7, 0.2),
    "gamma": uniform(0, 0.5),
    "learning_rate": uniform(0.03, 0.4),  
    "max_depth": randint(2, 5), 
    "n_estimators": randint(100, 170), 
    "subsample": uniform(0.2, 0.6)
}

In [182]:
# RandomizedSearchCV helps test multiple parameters and it does kfold validation. Used 3 because 10 was taking to long
search = RandomizedSearchCV(xgBoost_model, param_distributions=params, random_state=42
                            , n_iter=100, cv=3, verbose=1, n_jobs=1, scoring='roc_auc',return_train_score=True)

In [184]:
# fit the model
search.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:  3.1min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_...
                   param_distributions={'gamma': <scipy.stats._distn_infrastructure.rv_frozen object at 0x12f2c8090>,
                                        'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x12f19edd0>,
                                        'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x12f4d3d90>},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=True, scoring='roc_auc', verbose=1)

In [188]:
# retrive the parameters for the best estimator 
search.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.21597250932105788,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.14649165607921677, max_delta_step=0, max_depth=4,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=16, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [192]:
# copy and run the values with the hyper parameters of the best estimator
xgb_model = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.21597250932105788,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.14649165607921677, max_delta_step=0, max_depth=4,
             min_child_weight=1, monotone_constraints='()',
             n_estimators=100, n_jobs=16, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1)

# fit model with updated parameters
xgb_model.fit(X_train, y_train)

# test on the 20% of the unseen data set.
y_pred = xgb_model.predict(X_test)

# calculate confusion_matrix
print(confusion_matrix(y_test, y_pred))

/usr/local/lib/python3.7/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[7723  229]
 [ 625  466]]

In [194]:
# this is very low because the target value is skewed, need to work on that.
mean_squared_error(y_test, y_pred)

0.09443768660842641